[Unit]
Description=flyStereo
After=network.target

[Service]
User=msardonini
Restart=always
PIDFile=/home/msardonini/.pid/flyStereo.pid
WorkingDirectory=/home/msardonini/git/flyStereo/build
ExecStart=/home/msardonini/git/flyStereo/build/bin/flyStereo -c /home/msardonini/git/flyStereo/config/flight/record.yaml

[Install]
WantedBy=multi-user.target
